skin :
  bodyImage :
    type : "image"
    src : "./res/body.png"
    width : 640
    height : 480
    x : 0
    y : 0
    z : 1
  notesBgImage :
    type : "image"
    src : "./res/notes_bg.png"
    width : 198
    height : 322
    x : 33
    y : 0
    z : 0

fallObj :
  fallDist : 321
  keyNum : 8
  offset : 35
  margin : 2
  zIndex : 4
  nodeImage :
    type : "image"
    src : "./res/node.png"
    width : 194
    height : 1
    y : -10
    z : 1
  noteTurntableImage :
    type : "image"
    src : "./res/note-turntable.png"
    width : 41
    height : 6
    y : -10
    z : 1
  noteWhiteImage :
    type : "image"
    src : "./res/note-white.png"
    width : 22
    height : 6
    y : -10
    z : 1
  noteBlackImage :
    type : "image"
    src : "./res/note-black.png"
    width : 17
    height : 6
    y : -10
    z : 1

keydownEffect :
  y : 0
  z : 1
  turntableKeydownImage :
    type : "image"
    src : "./res/turntable-keydown.png"
    width : 41
    height : 316
  whiteKeydownImage :
    type : "image"
    src : "./res/white-keydown.png"
    width : 22
    height : 316
  blackKeydownImage : 
    type : "image"
    src : "./res/black-keydown.png"
    width : 17
    height : 316

stats :
  scoreLabel :
    type : "label"
    align : "left"
    font : "9px D7MBI"
    color : "rgba(255, 255, 255, 0.8)"
    x : 174
    y : 426
    z : 1

gauge :
  gaugeImage : 
    type : "image"
    src : "./res/gauge.png"
    width : 4
    height : 12
    x : 25
    y : 387
    z : 10

  rateLabel : 
    type : "label"
    align : "left"
    font : "9px D7MBI"
    color : "rgba(255, 255, 255, 0.8)"
    x : 174
    y : 441
    z : 1


